@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Jim+Nightshade&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jim Nightshade', cursive;
  font-size: 25px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  height: 850px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: auto;
  justify-content: space-around;
  padding: 0 40;
}

main {
  display: flex;
  padding: 10px 10px 10px 10px;
  margin: 20px auto 20px auto;
}

aside {
  display: flex;
  margin: auto 20px auto 40px;
}

#rodape {
  background-color: rgb(60, 64, 74);
  width: 100%;
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
  align-self: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
}

.trybewarts-header-logo {
  width: 80px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  border: 1px solid black;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-old-paper-texture-h5-background-image_126163.jpg);
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia-conteudo {
  display: flex;
}

#familia {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#conteudos {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.margem-section {
  margin: 5px 20px;
}

#btn-enviar {
  margin: auto;
}

input {
  margin: 3px;
  font-family: 'Jim Nightshade', cursive;
}

.borda-input {
  border-radius: 10px;
  font-size: large;
}

button {
  border-radius: 10px;
  font-size: large;
  margin: 5px;
  cursor: pointer;
}

.input-header {
  width: 180px;
  padding: 2px 10px;
}

.input-form {
  width: 285px;
  padding: 5px 10px;
}

#counter {
  display: flex;
  justify-content: flex-end;
}

#textarea {
  width: 600px;
  height: 100px;
  padding: 10px;
}

#submit-btn {
  width: 620px;
  padding: 8px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.664);
}

select {
  width: 220px;
  padding: 5px 10px;
  background-color: white;
}

#logar {
  padding: 5px 10px;
  color: white;
  background-color: rgb(47, 193, 139);
  font-weight: 600;
}

span {
  font-size: 18px;
}
