body {
  background-color: gray;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
  align-self: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia-conteudo {
  display: flex;
  margin: 50px;
}

#familia {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#conteudos {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#rodape {
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  color: white;
  text-align: center;
}
